<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder default type is ch.qos.logback.classic.encoder.PatternLayoutEncoder-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%thread] %X{requestid} %logger{10} %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="EmitToGraphiteLogbackAppender"
              class="com.expedia.www.haystack.metrics.appenders.logback.EmitToGraphiteLogbackAppender">
        <address>127.0.0.1</address>
        <port>2003</port>                            <!-- Configurations to default values are not needed, but    -->
        <pollintervalseconds>60</pollintervalseconds><!-- are included in this file for reference when writing    -->
        <queuesize>10</queuesize>                    <!-- configuration files in packages that use this Appender. -->
    </appender>
    <root level="WARN">
        <appender-ref ref="EmitToGraphiteLogbackAppender" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>